/* Reset the CSS of the page */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables */
:root{
    --clr-brown: rgba(71, 52, 58, 1);
    --clr-white: white;
    --clr-cream: #FEF9F4;
    --clr-light-brown: #DEB7A3;
    --neutral-200: rgba(229, 231, 235, 1);
    --neutral-500: rgba(107, 114, 128, 1);

    /* Font size */
    --fs-h2: 2.5rem;
    --fs-input: 0.875rem;

    /* Font family */
    --ff-body: "Inter", sans-serif;

    /* Font weights */
    --fw-600: 600;
    --fw-input-label: 500;
    --fw-h1: 500;
    --fw-input-field: 400;
    --fw-subheading: 400;

    /* Line height */
    --lh-1125: 1.125rem;
    --lh-1: 1rem;
    --lh-3: 3rem;

    /* Letter spacing */
    --ls-h1: -0.05rem;

    /* utilities */
    --pd-x-small: 0.25rem;
    --pd-small: 0.5rem;
    --pd-regular: 1rem;
    --pd-medium: 1.25rem;
    --pd-large: 1.5rem;
    --pd-x-large: 2rem;
}
/* Remove red border */
* {
    border: none;
}

/* Nav bar styling */
.nav-container *{
    background-color: var(--clr-brown);
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0rem;
    align-items: center;
    align-self: stretch;
}
.nav-container {
    display: flex;
    padding: 0rem 7rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-brown);
}
nav ul {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    height: 2.75rem;
}
nav ul li, nav ul button {
    display: flex;
    padding: 0.625rem 1rem;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    gap: 0.5rem;
    color: var(--clr-cream)

}
nav ul button:last-child{
    border-radius: 0.5rem;  
    border: 1px solid var(--Cream, #FEF9F4);
    background: var(--clr-cream);
    color: var(--clr-brown);

    /* Drop shadow/XSmall */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04), 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}

/* login & signup buttons have anchor tags  */
 
nav ul a,  .hero-text a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}


/* Hero section styling */

.hero{
    display: flex;
    height: 45.375rem;
    padding: 4rem 7rem;
    align-items: center;
    gap: 2rem;
    align-self: stretch;
    background-color: var(--clr-brown);
}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    background-color: var(--clr-brown);
}
.hero-text *{
    background-color: var(--clr-brown);
}
.hero-text button{
    align-self: flex-start;
    color: var(--Dark-Brown, #47343A);
    text-align: none;
    color: var(--Dark-Brown, #47343A);
    text-align: center;

    /* Heading/H3/Semibold/Dektop */
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem; /* 125% */
    letter-spacing: -0.04rem;
    align-self: flex-start;
    margin: 0

}
h1{
    color: var(--clr-cream);
    font-family: Inter;
    font-size: 8rem;
    font-style: normal;
     font-weight: 800;
    line-height: 8rem; /* 100% */
    letter-spacing: -0.16rem;
}
.hero p {
    color: var(--clr-light-brown);
    /* Heading/H4/Medium/Desktop */
    font-family: Inter;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.25rem; /* 128.571% */
    letter-spacing: -0.035rem;
}
.hero button {
    display: flex;
    padding: 0.875rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border-radius: 0.75rem;
    border: 1px solid var(--clr-brown);
    background: var(--clr-cream);

/* Drop shadow/Small */
box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
}

/* How to get started */
.how-to-get-started{
    display: flex;
    padding: 4rem 7rem;
    flex-direction: column;
    align-items: flex-start;
}
.how-to-get-started-container{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
}
.how-to-get-started-text-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}
.how-to-get-started-text-section h2{
    color: var(--clr-brown);

    /* Heading/H2/Extrabold/Desktop */
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 2.75rem; /* 122.222% */
    letter-spacing: -0.045rem;
}.how-to-get-started-text-section p{
    width: 30.5rem;
    color: var(--Dark-Brown, #47343A);

    /* Paragraph/Medium/Regular */
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}
.accordion-wrapper {
    overflow: hidden;
    width: 600px;
    margin:0 auto;
}
.accordion {
    color: white;
    overflow: hidden;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--Neutral-200, #E5E7EB);
    background: #FFF;
}
.accordion:last-child{
    margin-bottom: 0;
}
.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
}
.accordion-label::after {
    content: url(../../../public/icons/cheveron-down.svg);
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    transform: rotate(-90deg);
}
.accordion-content {
    max-height: 0;
    padding: 0 16px;
    background: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content p{
    margin: 0;
    color: var(--Dark-Brown, #47343A);
    /* Paragraph/Small/Regular */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
}
input:checked + .accordion-label::after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 16px;
}
#check1, #check2, #check3 {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 1px; /* Keeps the input minimal without affecting layout */
    height: 1px;
}

/* Benefits section */
.benefits{
    display: flex;
    padding: 4rem 7rem;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: var(--clr-cream);
}
.benefits * {
    background-color: var(--clr-cream);
}
.benefits-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    align-self: stretch;
}
.benefits-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}
.benefits-title span {
    color: var(--clr-light-brown);
    text-align: center;

    /* Paragraph/Overline/Large */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem; /* 142.857% */
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
}
.benefits-title h3 {
    color: var(--clr-brown);
    text-align: center;

    /* Heading/H2/Extrabold/Desktop */
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 2.75rem; /* 122.222% */
    letter-spacing: -0.045rem;
}
.benefits-cards{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
}
.benefits-cards section {
    background-color: white;
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    flex: 1 0 0;
    border-radius: 0.375rem;
    border: 0.5px solid var(--Neutral-50, #F9FAFB);
    background: var(--Generic-White, #FFF);

    /* Drop shadow/Small */
    box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
}
.benefits-cards *{
    background-color: white;
}
.benefits-cards-icons {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.875rem;
    justify-content: center;
    align-items: center;
    border-radius: 12.5rem;
    background: var(--Cream, #FEF9F4);
}
.benefits-cards h4{
    color: var(--clr-brown);

    /* Heading/H6/Semibold/Desktop */
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem; /* 140% */
    letter-spacing: -0.025rem;
}
.benefits-cards p{
    color: var(--clr-brown);

    /* Paragraph/Medium/Regular */
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}
.benefits-cards span{
    color: var(--Light-brown, #B67B5D);
    text-align: center;

    /* Label/Medium/Medium */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem; /* 114.286% */
}
.benefits-cards-view-more{
    display: flex;
    padding: 0.25rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* Footer */
.footer{
    display: flex;
    padding: 0rem 7rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
}
.footer > section{
    display: flex;
    padding: 2.25rem 0rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    align-self: stretch;
}
.footer ul{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    color: var(--clr-brown)
}
.footer span{
    color: var(--Neutral-500, #6B7280);

    /* Paragraph/Small/Regular */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
}


/* media queries (still need to be adjusted ) */


@media (max-width: 1024px) and (min-width: 769px) {
    .nav-container {
      padding: 0rem 1.5rem;
    }
    
    nav {
      padding: 0.5rem 0rem;
    }
    
    nav ul li, nav ul button {
      padding: 0.5rem 0.75rem;
      font-size: 0.875rem;
    }
    
   
    .hero {
      padding: 2rem 1.5rem;
      height: auto;
      flex-direction: row;
      justify-content: space-between;
      background-color: var(--clr-white);
    }
    
    .hero-text {
      background-color: var(--clr-white);
    }
    
    .hero-text * {
      background-color: var(--clr-white);
    }
    
    h1 {
      color: var(--clr-brown);
      font-size: 3.5rem;
      line-height: 3.75rem;
      letter-spacing: -0.07rem;
    }
    
    .hero p {
      color: var(--clr-brown);
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
    
    .hero button {
      padding: 0.75rem 1rem;
      font-size: 1rem;
      background-color: var(--clr-brown);
      color: var(--clr-white);
    }
    
    
    .how-to-get-started {
      padding: 2.5rem 1.5rem;
      background-color: var(--clr-white);
    }
    
    .how-to-get-started-container {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .how-to-get-started-text-section {
      width: 100%;
      margin-bottom: 1.5rem;
    }
    
    .how-to-get-started-text-section h2 {
      font-size: 1.75rem;
      line-height: 2rem;
    }
    
    .how-to-get-started-text-section p {
      width: auto;
      max-width: 80%;
    }
    
    .accordion-wrapper {
      width: 100%;
    }
    
    /* Benefits section */
    .benefits {
      padding: 2.5rem 1.5rem;
      gap: 2rem;
      background-color: var(--clr-cream);
    }
    
    .benefits * {
      background-color: var(--clr-cream);
    }
    
    .benefits-title h3 {
      font-size: 1.75rem;
      line-height: 2rem;
    }
    
    .benefits-cards {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
    
    .benefits-cards section {
      flex: 0 0 45%;
      background-color: var(--clr-white);
    }
    
    .benefits-cards * {
      background-color: var(--clr-white);
    }
    
 
    .footer {
      padding: 0rem 1.5rem;
      background-color: var(--clr-white);
    }
    
    .footer > section {
      padding: 1.5rem 0rem;
    }
  }
  
 
  @media (max-width: 768px) {
    
    .nav-container {
      padding: 0rem 1rem;
      background-color: var(--clr-white);
    }
    
    .nav-container * {
      background-color: var(--clr-white);
    }
    
    nav {
      padding: 0.5rem 0rem;
    }
    
    nav ul li, nav ul button {
      color: var(--clr-brown);
    }
    
    nav ul button:last-child {
      background: var(--clr-brown);
      color: var(--clr-white);
    }
    
   
    .hero {
      padding: 1.5rem 1rem;
      height: auto;
      flex-direction: column;
      align-items: center;
      background-color: var(--clr-white);
    }
    
    .hero-text {
      width: 100%;
      align-items: center;
      text-align: center;
      background-color: var(--clr-white);
    }
    
    .hero-text * {
      background-color: var(--clr-white);
    }
    
    h1 {
      color: var(--clr-brown);
      font-size: 2rem;
      line-height: 2.25rem;
      letter-spacing: -0.04rem;
      text-align: center;
    }
    
    .hero p {
      color: var(--clr-brown);
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-align: center;
    }
    
    .hero button {
      padding: 0.625rem 0.875rem;
      font-size: 0.875rem;
      background-color: var(--clr-brown);
      color: var(--clr-white);
    }
    
   
    .how-to-get-started {
      padding: 2rem 1rem;
      background-color: var(--clr-white);
    }
    
    .how-to-get-started-container {
      flex-direction: column;
    }
    
    .how-to-get-started-text-section {
      width: 100%;
      align-items: center;
      text-align: center;
    }
    
    .how-to-get-started-text-section h2 {
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin-bottom: 0.5rem;
      text-align: center;
    }
    
    .how-to-get-started-text-section p {
      width: 100%;
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-align: center;
    }
    
    .accordion-wrapper {
      width: 100%;
    }
    
    .accordion-label {
      font-size: 0.75rem;
      padding: 0.75rem;
    }
    
    .accordion-content p {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
    
    
    .benefits {
      padding: 2rem 1rem;
      gap: 1.5rem;
      background-color: var(--clr-white);
    }
    
    .benefits * {
      background-color: var(--clr-white);
    }
    
    .benefits-container {
      gap: 1.5rem;
    }
    
    .benefits-title {
      width: 100%;
      text-align: center;
    }
    
    .benefits-title h3 {
      font-size: 1.25rem;
      line-height: 1.5rem;
      text-align: center;
    }
    
    .benefits-title span {
      font-size: 0.75rem;
    }
    
    .benefits-cards {
      flex-direction: column;
      gap: 1rem;
    }
    
    .benefits-cards section {
      width: 100%;
      padding: 1rem;
      background-color: var(--clr-white);
      border: 1px solid var(--neutral-200);
    }
    
    .benefits-cards section * {
      background-color: var(--clr-white);
    }
    
    .benefits-cards h4 {
      font-size: 1rem;
      line-height: 1.25rem;
    }
    
    .benefits-cards p {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
    
   
    .footer {
      padding: 0 1rem;
      background-color: var(--clr-white);
    }
    
    .footer > section {
      padding: 1rem 0;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }
    
    .footer ul {
      gap: 0.75rem;
      justify-content: center;
    }
    
    .footer ul li {
      font-size: 0.75rem;
    }
    
    .footer span {
      font-size: 0.75rem;
      text-align: center;
    }
  }
  

  @media (max-width: 375px) {
    .hero {
      align-items: flex-start;
    }
    
    .hero-text {
      align-items: flex-start;
      text-align: left;
    }
    
    h1 {
      text-align: left;
    }
    
    .hero p {
      text-align: left;
    }
    
    
    nav ul:first-child li:not(:first-child) {
      display: none;
    }
    
    nav ul:first-child li:first-child {
      margin-right: auto;
    }
    
   
    .benefits-cards {
      flex-direction: column;
    }
    
    .benefits-cards section {
      flex: 0 0 100%;
    }
    

    .footer ul li:nth-child(3) {
      display: block;
    }
  }