.dashboard-containers {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.connections-container,
.chats-container,
.requests-container {
    width: 100%;
}

.dashboard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
    max-width: 90rem;
}
.dashboard h1{
    color: #47343A;

    /* Heading/H1/Medium/Desktop */
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 140% */
    letter-spacing: -0.025rem;
}
.dashboard-containers{
    display: flex;
    align-items: flex-start;
    gap: 1.875rem;
    align-self: stretch;
}
.connections-container{
    display: flex;
    padding: 1.875rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.25rem;
    flex: 1 0 0;

    border-radius: 0.5rem;
    border: 1px solid var(--Neutral-200, #E5E7EB);
}
.connections-container h2{
    color: #47343A;

    /* Heading/H4/Medium/Desktop */
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem; /* 155.556% */
}
.connections-heading{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}
.connections-heading p{
    color: #47343A;
    text-align: right;

    /* Paragraph/Small/Regular */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
}