.coffee-chat-container{
    display: flex;
    width: 21.58331rem;
    padding: 1.875rem 2rem;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    flex: 1 0 0;
    border-radius: 0.5rem;
    border: 1px solid var(--Neutral-200, #E5E7EB);
    max-height: 40vh;
    overflow: hidden;
    overflow-y: scroll;
}
.coffee-chat-container h2{
    color: #47343A;

    /* Heading/H4/Medium/Desktop */
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem; /* 155.556% */
    align-self: flex-start;
}
