.connections-heading {
    display: flex;
}

.connections-card {
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
}
.connections-card img {
    width: 3.5625rem;
    height: 3.5625rem;
    border-radius: 25rem;
    border: 2px solid var(--Generic-White, #FFF);
    background: var(--Avatar-Profile-09, url(<path-to-image>) lightgray 50% / cover no-repeat);
}
.name-on-card {
    color: var(--Dark-Brown, #47343A);
    text-align: center;
    /* Heading/H6/Semibold/Desktop */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem; /* 140% */
    letter-spacing: -0.025rem;
}
.card-connection-time-elapsed{
    color: var(--Medium-Brown, #7F5047);
    text-align: center;
    /* Paragraph/XSmall/Regular */
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 166.667% */
}
.name-row {
    display: flex;
}
.connections-card{
    border-radius: 0.375rem;
    border: 0.5px solid var(--Neutral-200, #E5E7EB);
    background: #FFF;

    /* Drop shadow/Small */
    box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
}
.name-and-connection-date-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
}
.card-bio{
    color: var(--Dark-Brown, #47343A);
    text-align: center;

    /* Paragraph/Small/Regular */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
}
.card-button{
    display: flex;
    width: 8.5rem;
    height: 2.25rem;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    border-radius: 0.5rem;
    border: 1px solid var(--Neutral-200, #E5E7EB);
}