* {
  border: none;
  /* border: 1px solid red; */
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: var(--pd-large);
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid var(--neutral-200);
  border-radius: var(--pd-small);
}

.form-container h2 {
  color: var(--clr-brown);
  font-size: var(--fs-h2);
  font-weight: 500;
}

/* Avatar Section */
.user-avatar {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}

.form-row {
  display: flex;
  gap: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: var(--clr-brown);
}

input,
textarea,
select {
  padding: 8px 12px;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
  background-color: #fff;
}

.select-input {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23718096' viewBox='0 0 16 16'><path d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  padding-right: 32px;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

.char-count {
  text-align: right;
  color: #718096;
  font-size: 14px;
  margin-top: 4px;
}

input::placeholder,
textarea::placeholder,
select option:first-child {
  color: #a0aec0;
}

.personal-details-form {
  border: 1px solid red;
}

.form-container button {
  outline: 1px solid red;
}