.profile-settings {
    border: 1px solid green;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* PROFILE SETTINGS NAV */

.profile-menu li {
    margin: 1rem;
    list-style: none;
    cursor: pointer;
}

/* AVATAR */

.user-avatar img {
    width: 4rem;
    border-radius: 50%;
}

.avatarsContainer {
    max-width: 20rem;
}