:root{
  --fc-primary: rgba(1,2,3);
  --fs-h1: 3 rem;
  --ff-inter: "Inter", sans-serif;
  --fw-600: 600;
  --lh-1125: 1.125rem
}
* {
  font-family: "Inter";
  border: 1px solid red;
  font: var(--label-large-semibold);
  /* max-width: 1280px; */
  margin: 0 auto;
  background: white;
}
.app {
  text-align: center;
  /* padding: 2rem; */
}

